<mat-tab-group #loginTabs="matTabGroup" [selectedIndex]="tabSelected">
  <mat-tab [disabled]="codeSended">
    <div class="row" [style.width]="'100%'">
      <div class="col s12">
        <h5 class="center">Iniciar sesión</h5>
      </div>
      <div class="col s12">
        <mat-form-field
        appearance="outline">
          <mat-label>Número celular</mat-label>
          <input
          matInput
          type="text"
          name="celular"
          [formControl]="phoneCtrl"
          required
          maxlength="10"
          >
          <!-- <span matPrefix>+52</span> -->
          <mat-error *ngIf="phoneCtrl.hasError('required')">
            Es necesario el número de celular
          </mat-error>
          <mat-error *ngIf="phoneCtrl.hasError('minlength')">
            El número debe ser de 12 dígitos
          </mat-error>
          <mat-error *ngIf="phoneCtrl.hasError('maxlength')">
            El número no debe de pasar de 12 dígitos
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col s12 center">
        <button
        mat-raised-button
        color='primary'
        [disabled]="phoneCtrl.invalid"
        (click)="sendCode()" >
          Mandar código
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab [disabled]="!codeSended">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ingresa el código</mat-card-title>
        <mat-card-subtitle>
          Ingresa el código que hemos enviado al número {{phoneCtrl.value}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <mt-code-form (onSubmit)="catchVerificationCode($event)"></mt-code-form>
      </mat-card-content>
    </mat-card>


  </mat-tab>
</mat-tab-group>
<div id="sign-in-button"></div>
