$mv-clara: (
    50 : #fffde7,
    100 : #fff9c4,
    200 : #fff59d,
    300 : #fff176,
    400 : #ffee58,
    500 : #ffeb3b,
    600 : #ffe935,
    700 : #ffe52d,
    800 : #ffe226,
    900 : #ffdd19,
    A100 : #ffffff,
    A200 : #fffffd,
    A400 : #fff7ca,
    A700 : #fff2b1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mv-ambar: (
    50 : #fff8e0,
    100 : #ffedb3,
    200 : #ffe280,
    300 : #ffd64d,
    400 : #ffcd26,
    500 : #ffc400,
    600 : #ffbe00,
    700 : #ffb600,
    800 : #ffaf00,
    900 : #ffa200,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe5bf,
    A700 : #ffdaa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mv-oscura: (
    50 : #efe9e0,
    100 : #d8c8b3,
    200 : #bea380,
    300 : #a37e4d,
    400 : #906226,
    500 : #7c4600,
    600 : #743f00,
    700 : #693700,
    800 : #5f2f00,
    900 : #4c2000,
    A100 : #ffa880,
    A200 : #ff854d,
    A400 : #ff621a,
    A700 : #ff5100,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

